<footer>
  <p>&copy; 2023 Tom Richardson</p>
</footer>

<style>
  footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 48px;
  }
</style>
